$colo-primary:#003859;
$color-second:#00a5c4;
$color-yellow:yellow;



.f-s-12{
   font-size: 12px;
}

.f-s-14{
   font-size: 14px;
}

.f-s-16{
   font-size: 16px;
}

.f-s-18{
   font-size: 18px;
}

.f-s-20{
   font-size: 20px;
}

.f-s-22{
   font-size: 22px;
}

.f-s-24{
   font-size: 24px;
}

.f-s-26{
   font-size: 26px;

}

